@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.Main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(139deg, #8d7b68 9.73%, #f1dec9 100%);
}

.TitleContianer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.TitleContianer h1 {
    color: #faebdc;
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
}

.Window {
    background: #8d7b68;
    border: 3px solid #37312b80;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ControlsContainer {
    height: 100%;
}

.ManyResetContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    margin-top: 20px;
}

.ManyConatiner {
    height: 100%;
}

.ResetContainer {
    height: 100%;
}

.ManyConatiner button {
    width: 80px;
    height: 100%;
    outline: none;
    border: 2px solid #37312B80;
    border-radius: 10px;
    background: #39322b66;
    color: #F1DEC9CC;
    cursor: pointer;
}

.ResetContainer button {
    width: 80px;
    height: 100%;
    outline: none;
    border: 2px solid #37312B80;
    border-radius: 10px;
    background: #39322b66;
    color: #F1DEC9CC;
    cursor: pointer;
}

.PlusMinContainer {
    padding: 20px;
    margin-top: 20%;
}

.PlusContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.PlusContainer button {
    width: 170px;
    height: 170px;
    outline: none;
    border: 2px solid #37312B80;
    border-radius: 50%;
    background: #39322b66;
    color: #F1DEC9CC;
    font-size: 80px;
    cursor: pointer;
    overflow: hidden;
}

.MinContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.MinContainer button {
    width: 70px;
    height: 70px;
    outline: none;
    border: 2px solid #37312B80;
    border-radius: 50%;
    background: #39322b66;
    color: #F1DEC9CC;
    font-size: 50px;
    cursor: pointer;
}

.FooterContainer {
    margin-top: 40px;
}

.FooterContainer p {
    color: #404040;
}

.MainFooterContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainFooterContainer p {
    color: #5B5B5B;
}

.MainFooterContainer p a {
    color: #644F38;
    font-weight: 600;
}
